.gitattributes git-encoding=ISO8859-1 working-tree-encoding=ISO8859-1                                      
*_s git-encoding=ISO8859-1 working-tree-encoding=ISO8859-1                                           
*_b git-encoding=ISO8859-1 working-tree-encoding=IBM-1047
*_bin binary
*_b1 working-tree-encoding=binary
1.png binary
2.png BINARY
3.png binary
4.png binary
bi_* git-encoding=BINARY working-tree-encoding=BINARY
*_123 working-tree-encoding=IBM-1047
