.gitattributes git-encoding=ISO8859-1 working-tree-encoding=ISO8859-1                                      
*_1111 git-encoding=ISO8859-1 working-tree-encoding=ISO8859-1                                           
*_2222 git-encoding=ISO8859-1 working-tree-encoding=IBM-1047
